@model IEnumerable<mvc_proboosting.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h-title">Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "fas fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @("Customer " + Html.DisplayNameFor(model => model.FullName))
        </th>
        <th>
            @("Booster " + Html.DisplayNameFor(model => model.Booster.FullName))
        </th>
        <th>
            @("Customer " + Html.DisplayNameFor(model => model.Email))
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booster.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "fas fa-edit" })
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "fas fa-list-ul" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }, new { @class = "fas fa-trash-alt" })
            </td>
        </tr>
    }

</table>
