@model IEnumerable<mvc_proboosting.Models.Booster>

@{
    ViewBag.Title = "Boosters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Boosters</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @(item.IsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoosterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoosterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoosterId })
        </td>
    </tr>
}

</table>
